<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restaurant System</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/auth.css" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>