body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #0a0a0a;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-title {
  text-align: center;
  font-size: min(15vw, 6rem);
  margin: 20px auto 0 auto;
  font-family: "Great Vibes", cursive;
  font-weight: bold;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  flex: 1 1 auto;
  overflow-y: auto;
  height: 80vh;
}

.menu-card {
  background: #fff;
  display: flex;
  flex-direction: column;
  width: min(39vw, 15.6rem);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-height: 18.75rem;
}

.menu-card img {
  width: 100%;
  height: 40%;
  object-fit: cover;
}

.menu-card figcaption {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: min(1.25vw, 0.5rem);
  text-align: center;
  box-sizing: border-box;
  row-gap: 0.2rem;
}
.menu-card h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.menu-card .description {
  margin: 0;
  font-size: 3vw;
}

.menu-card .price {
  font-weight: bold;
  color: #000;
  margin: 0;
}

.menu-card .btn:hover {
  background-color: #555;
}

.btn-danger {
  background-color: #e74c3c;
  color: white;
}

.sub-header {
  color: #fff;
  letter-spacing: 3px;
  font-size: min(7.5vw, 3rem);
  font-weight: bold;
  max-width: 95%;
}

.list-btns {
  margin-bottom: 2rem;
}

.btn-card {
  background-color: #000;
  color: #fff;
  padding: min(1.25vw, 0.5rem) min(1.875vw, 0.75);
  font-size: min(2vw, 0.8rem);
  margin: 0;
}
@media (min-width: 600px) {
  .menu-card {
    height: 18.75rem;
  }
  .menu-card figcaption {
    row-gap: 0.8rem;
  }

  .menu-card .description {
    font-size: 1rem;
  }
}
