* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f6fa;
  padding: 40px;
  background-image: url("https://popmenucloud.com/cdn-cgi/image/width%3D1920%2Cheight%3D1920%2Cfit%3Dscale-down%2Cformat%3Dauto%2Cquality%3D60/jwutdrmk/67f010e1-4698-4340-9ba4-a1c9428699f1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  height: auto;
}

.container {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;

  width: 50%;
  min-width: 400px;
  margin: auto;
  background: #4b3b29;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  overflow-x: auto;
  overflow-y: scroll;
}

.home-title {
  font-size: min(10vw, 4rem);
}

.home-subtitle {
  font-size: min(7.5vw, 3rem);
}
h1,
h2,
h3 {
  margin-bottom: 20px;
  color: #fb8500;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
}

h1 {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #fff;
}

.list-btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.btn {
  display: inline-block;
  padding: min(1.875vw, 0.75rem) min(1.875vw, 0.75rem);
  background: #fb8500;
  color: white;
  border-radius: 8px;
  margin-top: min(4vw, 1.6rem);
  transition: 0.3s;
  font-size: min(2.5vw, 1rem);
  cursor: pointer;
}
.btn:hover {
  background: #d14606;
}

input,
select,
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #101011;
  background-color: #b6ad90;
  font-size: 1.2rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  padding: 30px;
  background: #fb8500;
  color: white;
  border-radius: 12px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
}
.card:hover {
  background: #c96c01;
  transform: scale(1.03);
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 20px;
  background: #4b3b28;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table th {
  background: #fb8500;
  color: #fff;
  padding: 12px;
  text-align: left;
}

table td {
  padding: 12px;
  color: #fff;
  vertical-align: top;
  border-bottom: 2px solid #101011;
}

.menu-item {
  padding: 20px;
  margin-top: 20px;
  border: 2px solid #fb8500;
  border-radius: 20px;
}

label {
  color: #fb8500;
  font-size: 1.3rem;
}

legend {
  color: #fff;
}

.table-data:hover {
  background-color: #161615;
}
table tr td .items {
  margin-top: 50px;
}
